<%= form_with(model: bid_status) do |form| %>
  <% if bid_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bid_status.errors.count, "error") %> prohibited this bid_status from being saved:</h2>

      <ul>
        <% bid_status.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <ul>
    <li>
      <p class="heading"><%= form.label :name %></p>
    </li>
    <li>
      <%= form.text_field :name %>
    </li>
  </ul>

  <ul class="">
    <li class="one-col button-end actions">
      <%= form.submit %>
    </li>
  </ul>

<% end %>
