<p id="notice"><%= notice %></p>

<%= link_to 'New Expense Category', new_expense_category_path %>

<section class="outstanding-invoices">
  <h6>Expense Categories</h6>
  <ul>
    <li>
      <p class="heading">Name</p>
    </li>
    <li>
      <p class="heading">Description</p>
    </li>
    <li>
      <p class="heading">View</p>
    </li>
  </ul>
  <% @expense_categories.each do |expense_category| %>
    <ul class="ul-lines">
      <li>
        <p><%= expense_category.name %></p>
      </li>
      <li>
        <p><%= expense_category.description %></p>
      </li>
      <li>
        <p><%= link_to 'Edit', edit_expense_category_path(expense_category) %></p>
      </li>
        <%#= link_to 'Show', expense_category %>
        <%#= link_to 'Destroy', expense_category, method: :delete, data: { confirm: 'Are you sure?' } %>
      </ul>
  <% end %>
</section>