<p id="notice"><%= notice %></p>

<%= link_to 'New Invoice', new_invoice_path %>

<section class="outstanding-invoices">
  <h6>Invoices</h6>
  <ul>
    <li>
      <p class="heading">Invoice #</p>
    </li>
    <li>
      <p class="heading">Date</p>
    </li>
    <li>
      <p class="heading">Project site</p>
    </li>
    <li>
      <p class="heading">Work Performed</p>
    </li>
    <li>
      <p class="heading">Amount</p>
    </li>
    <li>
      <p class="heading">Complete?</p>
    </li>
    <li>
      <p class="heading">Paid?</p>
    </li>
    <li>
      <p class="heading">View</p>
    </li>
    <li>
      <p class="heading">Print</p>
    </li>
  </ul>
  <% @invoices.each do |invoice| %>
    <ul class="ul-lines">
      <li>
        <p><%= invoice.id %></p>
      </li>
      <li>
        <p><%= invoice.start_date %></p>
      </li>
      <li>
        <p><%= invoice.project_site_id %></p>
      </li>
      <li>
        <p><%= invoice.sku_id %></p>
      </li>
      <li>
        <p><%= invoice.amount %></p>
      </li>
      <li>
        <p><%= invoice.complete %></p>
      </li>
      <li>
        <p><%= invoice.paid %></p>
      </li>
      <li>
        <p><%= link_to 'Edit', edit_invoice_path(invoice) %></p>
      </li>
      <li>
        <p><%= link_to 'Show', invoice %></p>
      </li>
      <%#= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %>
    </ul>
  <% end %>
</section>