<%= form_with(model: bid) do |form| %>
  <% if bid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bid.errors.count, "error") %> prohibited this bid from being saved:</h2>

      <ul>
        <% bid.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.text_field :company_id %>
  </div>

  <div class="field">
    <%= form.label :project_site_id %>
    <%= form.text_field :project_site_id %>
  </div>

  <div class="field">
    <%= form.label :sku_id %>
    <%= form.text_field :sku_id %>
  </div>

  <div class="field">
    <%= form.label :bid_status_id %>
    <%= form.text_field :bid_status_id %>
  </div>

  <div class="field">
    <%= form.label :bid_date %>
    <%= form.date_select :bid_date %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
