<p id="notice"><%= notice %></p>

<section class="outstanding-invoices">
  <h6>Bids</h6>
  <ul>
    <li>
      <p class="heading">Bid #</p>
    </li>
    <li>
      <p class="heading">Date</p>
    </li>
    <li>
      <p class="heading">Project Site</p>
    </li>
    <li>
      <p class="heading">Work Performed</p>
    </li>
    <li>
      <p class="heading">Amount</p>
    </li>
    <li>
      <p class="heading">Approved?</p>
    </li>
    <li>
      <p class="heading">View</p>
    </li>
    <li>
      <p class="heading">Print</p>
    </li>
  </ul>
  <% @bids.each do |bid| %>
    <ul class="ul-lines">
      <li>
        <p><%= bid.bid_id %></p>
      </li>
      <li>
        <p><%= bid.bid_date %></p>
      </li>
      <li>
        <p><%= bid.project_site_id %></p>
      </li>
      <li>
        <p><%= bid.sku_id %></p>
      </li>
      <li>
        <p><%= bid.amount %></p>
      </li>
      <li>
        <p><%= bid.bid_status_id %></p>
      </li>
      <li>
        <p><%= link_to 'Edit', edit_bid_path(bid) %></p>
      </li>
      <li>
        <p><%= link_to 'Show', bid %></p>
      </li>
    </ul>
  <% end %>
</section>

<%#= link_to 'New Bid', new_bid_path %>
