<p id="notice"><%= notice %></p>

<section class="outstanding-invoices">
  <h6>Bids</h6>
  <ul>
    <li>
      <p class="heading">Bid #</p>
    </li>
    <li>
      <p class="heading">Date</p>
    </li>
    <li>
      <p class="heading">Project Site</p>
    </li>
    <li>
      <p class="heading">Work Performed</p>
    </li>
    <li>
      <p class="heading">Amount</p>
    </li>
    <li>
      <p class="heading">Approved?</p>
    </li>
    <li>
      <p class="heading">View</p>
    </li>
    <li>
      <p class="heading">Print</p>
    </li>
  </ul>
  <% @bids.each do |bid| %>
    <ul class="ul-lines" key={bid.bid_id}>
      <li><%= bid.bid_id %></li>
      <li><%= bid.bid_date %></li>
      <li><%= bid.project_site_id %></li>
      <li><%= bid.sku_id %></li>
      <li><%= bid.amount %></li>
      <li><%= bid.bid_status_id %></li>
      <li><%= link_to 'Edit', edit_bid_path(bid) %></li>
      <td><%= link_to 'Show', bid %></td>
    </ul>
  <% end %>
</section>

<%#= link_to 'New Bid', new_bid_path %>
