<%= form_with(model: project_site) do |form| %>
  <% if project_site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_site.errors.count, "error") %> prohibited this project_site from being saved:</h2>
      <ul>
        <% project_site.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <ul>
    <li>
      <p class="heading"><%= form.label :address %></p>
    </li>
    <li>
      <%= form.text_field :address %>
    </li>
  </ul>

  <ul>
    <li>
      <p class="heading"><%= form.label :city %></p>
    </li>
    <li>
      <%= form.text_field :city %>
    </li>
  </ul>

  <ul>
    <li>
      <p class="heading"><%= form.label :state_id %></p>
    </li>
    <li>
      <%= form.text_field :state_id %>
    </li>
  </ul>

  <ul>
    <li>
      <p class="heading"><%= form.label :zipcode %></p>
    </li>
    <li>
      <%= form.text_field :zipcode %>
    </li>
  </ul>

  <ul>
    <li>
      <p class="heading"><%= form.label :access_code %></p>
    </li>
    <li>
      <%= form.text_field :access_code %>
    </li>
  </ul>

  <ul>
    <li>
      <p class="heading"><%= form.label :map_link %></p>
    </li>
    <li>
      <%= form.text_area :map_link %>
    </li>
  </ul>

  <ul class="">
    <li class="one-col button-end actions">
      <%= form.submit %>
    </li>
  </ul>

<% end %>
