<p id="notice"><%= notice %></p>

<h1>Project Sites</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Access code</th>
      <th>Map link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_sites.each do |project_site| %>
      <tr>
        <td><%= project_site.address %></td>
        <td><%= project_site.city %></td>
        <td><%= project_site.state_id %></td>
        <td><%= project_site.zipcode %></td>
        <td><%= project_site.access_code %></td>
        <td><%= project_site.map_link %></td>
        <td><%= link_to 'Show', project_site %></td>
        <td><%= link_to 'Edit', edit_project_site_path(project_site) %></td>
        <td><%= link_to 'Destroy', project_site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Site', new_project_site_path %>
