<p id="notice"><%= notice %></p>

<section class="outstanding-invoices">
  <h6>Project Sites</h6>
  <ul>
    <li>
      <p class="heading">Address</p>
    </li>
    <li>
      <p class="heading">City</p>
    </li>
    <li>
      <p class="heading">State</p>
    </li>
    <li>
      <p class="heading">Zipcode</p>
    </li>
    <li>
      <p class="heading">Box Code</p>
    </li>
    <li>
      <p class="heading">View</p>
    </li>
  </ul>
    <% @project_sites.each do |project_site| %>
      <ul class="ul-lines">
        <li>
          <p><%= project_site.address %></p>
        </li>
        <li>
          <p><%= project_site.city %></p>
        </li>
        <li>
          <p><%= project_site.state_id %></p>
        </li>
        <li>
          <p><%= project_site.zipcode %></p>
        </li>
        <li>
          <p><%= project_site.access_code %></p>
        </li>
        <li>
          <p><%= link_to 'Edit', edit_project_site_path(project_site) %></p>
        </li>
      </ul>
    <% end %>
</section>

<br>

<%= link_to 'New Project Site', new_project_site_path %>
