<p id="notice"><%= notice %></p>

<%= link_to 'New State', new_state_path %>

<section class="outstanding-invoices">
  <h6>States</h6>
  <ul>
    <li>
      <p class="heading">Name</p>
    </li>
    <li>
      <p class="heading">Abbreviation</p>
    </li>
    <li>
      <p class="heading">View</p>
    </li>
  </ul>
  <% @states.each do |state| %>
    <ul class="ul-lines">
      <li>
        <p><%= state.name %></p>
      </li>
      <li>
        <p><%= state.abbreviation %></p>
      </li>
      <li>
        <p><%= link_to 'Edit', edit_state_path(state) %></p>
      </li>
      <%#= link_to 'Show', state %>
      <%#= link_to 'Destroy', state, method: :delete, data: { confirm: 'Are you sure?' } %>
    </ul>
  <% end %>
</section>