<%= form_with(model: sku) do |form| %>
  <% if sku.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sku.errors.count, "error") %> prohibited this sku from being saved:</h2>

      <ul>
        <% sku.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <ul>
    <li>
      <p class="heading">
        <%= form.label :name %>
      </p>
    </li>
    <li>
      <%= form.text_field :name %>
    </li>
  </ul>

  <ul>
    <li>
      <p class="heading">
        <%= form.label :description %>
      </p>
    </li>
    <li>
      <%= form.text_field :description %>
    </li>
  </ul>

  <ul class="">
    <li class="one-col button-end actions">
      <%= form.submit %>
    </li>
  </ul>
<% end %>
