<p id="notice"><%= notice %></p>

<%= link_to 'New Sku', new_sku_path %>

<section class="outstanding-invoices">
  <h6>Skus</h6>
  <ul>
    <li>
      <p class="heading">Name</p>
    </li>
    <li>
      <p class="heading">Description</p>
    </li>
    <li>
      <p class="heading">View</p>
    </li>
  </ul>
  <% @skus.each do |sku| %>
    <ul class="ul-lines">
      <li>
        <p><%= sku.name %></p>
      </li>
      <li>
        <p><%= sku.description %></p>
      </li>
      <li>
        <p><%= link_to 'Edit', edit_sku_path(sku) %></p>
      </li>
      <%#= link_to 'Show', sku %>
      <%#= link_to 'Destroy', sku, method: :delete, data: { confirm: 'Are you sure?' } %>
    </ul>
  <% end %>
</section>