<%= form_with(model: company) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <ul>
    <li>
      <p class="heading">
        <%= form.label :company_category_id %>
      </p>
    </li>
    <li>
      <%= form.text_field :company_category_id %>
    </li>
  </ul>

  <ul>
    <li>
      <p class="heading">
        <%= form.label :business_name %>
      </p>
    </li>
    <li>
      <%= form.text_field :business_name %>
    </li>
  </ul>

  <ul>
    <li>
      <p class="heading">
        <%= form.label :contact_name %>
      </p>
    </li>
    <li>
      <%= form.text_field :contact_name %>
    </li>
  </ul>

  <ul>
    <li>
      <p class="heading">
        <%= form.label :address %>
      </p>
    </li>
    <li>
      <%= form.text_field :address %>
    </li>
  </ul>

  <ul>
    <li>
      <p class="heading">
        <%= form.label :city %>
      </p>
    </li>
    <li>
      <%= form.text_field :city %>
    </li>
  </ul>

  <ul>
    <li>
      <p class="heading">
        <%= form.label :state_id %>
      </p>
    </li>
    <li>
      <%= form.text_field :state_id %>
    </li>
  </ul>

  <ul>
    <li>
      <p class="heading">
        <%= form.label :zipcode %>
      </p>
    </li>
    <li>
      <%= form.text_field :zipcode %>
    </li>
  </ul>

  <ul>
    <li>
      <p class="heading">
        <%= form.label :phone %>
      </p>
    </li>
    <li>
      <%= form.text_field :phone %>
    </li>
  </ul>

  <ul>
    <li>
      <p class="heading">
        <%= form.label :phone_ext %>
      </p>
    </li>
    <li>
      <%= form.text_field :phone_ext %>
    </li>
  </ul>

  <ul>
    <li>
      <p class="heading">
        <%= form.label :fax %>
      </p>
    </li>
    <li>
      <%= form.text_field :fax %>
    </li>
  </ul>

  <ul>
    <li>
      <p class="heading">
        <%= form.label :email %>
      </p>
    </li>
    <li>
      <%= form.text_field :email %>
    </li>
  </ul>

  <ul>
    <li>
      <p class="heading">
        <%= form.label :website %>
      </p>
    </li>
    <li>
      <%= form.text_field :website %>
    </li>
  </ul>

  <ul>
    <li>
      <p class="heading">
        <%= form.label :image_id %>
      </p>
    </li>
    <li>
      <%= form.text_field :image_id %>
    </li>
  </ul>

  <ul class="">
    <li class="one-col button-end actions">
      <%= form.submit %>
    </li>
  </ul>

<% end %>
