<p id="notice"><%= notice %></p>

<%= link_to 'New Company', new_company_path %>

<section class="outstanding-invoices">
  <h6>Companies</h6>
  <ul>
    <li>
      <p class="heading">Business Name</p>
    </li>
    <li>
      <p class="heading">Contact Name</p>
    </li>
    <li>
      <p class="heading">Address, City, State Zipcode</p>
    </li>
    <li>
      <p class="heading">Phone</p>
    </li>
    <li>
      <p class="heading">Email</p>
    </li>
    <li>
      <p class="heading">View</p>
    </li>
  </ul>
  <% @companies.each do |company| %>
    <ul class="ul-lines">
      <li>
        <p><%= company.business_name %></p>
      </li>
      <li>
        <p><%= company.contact_name %></p>
      </li>
      <li>
        <p><%= company.address %>, <%= company.city %>, <%= company.state_id %> <%= company.zipcode %></p>
      </li>
      <li>
        <p><%= company.phone %></p>
      </li>
      <li>
        <p><%= company.email %></p>
      </li>
      <li>
        <p><%= link_to 'Edit', edit_company_path(company) %></p>
      </li>
      <%#= link_to 'Show', company %>
      <%#= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %>
    </ul>
  <% end %>
</section>