<%= form_with(model: vehicle) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
        <% vehicle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <ul>
    <li>
      <p class="heading">
        <%= form.label :man_year %>
      </p>
    </li>
    <li>
      <%#= form.date_select :man_year %>
      <%= form.select :man_year, (Time.zone.now.year - 100)..(Time.zone.now.year + 1) %>
    </li>
  </ul>

  <ul>
    <li>
      <p class="heading">
        <%= form.label :make %>
      </p>
    </li>
    <li>
      <%= form.text_field :make %>
    </li>
  </ul>

  <ul>
    <li>
      <p class="heading">
        <%= form.label :model %>
      </p>
    </li>
    <li>
      <%= form.text_field :model %>
    </li>
  </ul>

  <ul>
    <li>
      <p class="heading">
        <%= form.label :submodel %>
      </p>
    </li>
    <li>
      <%= form.text_field :submodel %>
    </li>
  </ul>

  <ul>
    <li>
      <p class="heading">
        <%= form.label :engine %>
      </p>
    </li>
    <li>
      <%= form.text_field :engine %>
    </li>
  </ul>

  <ul>
    <li>
      <p class="heading">
        <%= form.label :notes %>
      </p>
    </li>
    <li>
      <%= form.text_field :notes %>
    </li>
  </ul>

  <ul class="">
    <li class="one-col button-end actions">
      <%= form.submit %>
    </li>
  </ul>

<% end %>
