<p id="notice"><%= notice %></p>

<%= link_to 'New Vehicle', new_vehicle_path %>

<section class="outstanding-invoices">
  <h6>Vehicles</h6>
  <ul>
    <li>
      <p class="heading">Year</p>
    </li>
    <li>
      <p class="heading">Make</p>
    </li>
    <li>
      <p class="heading">Model</p>
    </li>
    <li>
      <p class="heading">Submodel</p>
    </li>
    <li>
      <p class="heading">View</p>
    </li>
  </ul>
    <% @vehicles.each do |vehicle| %>
    <ul class="ul-lines">
      <li>
        <p><%= vehicle.man_year %></p>
      </li>
      <li>
        <p><%= vehicle.make %></p>
      </li>
      <li>
        <p><%= vehicle.model %></p>
      </li>
      <li>
        <p><%= vehicle.submodel %></p>
      </li>
      <li>
        <p><%= link_to 'Edit', edit_vehicle_path(vehicle) %></p>
      </li>
          <%#= link_to 'Show', vehicle %>
          <%#= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %>
      </ul>
    <% end %>
</section>