<p id="notice"><%= notice %></p>

<p>
  <strong>Man year:</strong>
  <%= @vehicle.man_year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @vehicle.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Submodel:</strong>
  <%= @vehicle.submodel %>
</p>

<p>
  <strong>Engine:</strong>
  <%= @vehicle.engine %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @vehicle.notes %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
