<p id="notice"><%= notice %></p>

<h1>Expenses</h1>

<table>
  <thead>
    <tr>
      <th>Invoice</th>
      <th>Company</th>
      <th>Expense category</th>
      <th>Vehicle</th>
      <th>Pdate</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Amount</th>
      <th>Subtotal</th>
      <th>Tax include</th>
      <th>Tax</th>
      <th>Total</th>
      <th>Receipt reference</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.invoice_id %></td>
        <td><%= expense.company_id %></td>
        <td><%= expense.expense_category_id %></td>
        <td><%= expense.vehicle_id %></td>
        <td><%= expense.pdate %></td>
        <td><%= expense.name %></td>
        <td><%= expense.quantity %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.subtotal %></td>
        <td><%= expense.tax_include %></td>
        <td><%= expense.tax %></td>
        <td><%= expense.total %></td>
        <td><%= expense.receipt_reference %></td>
        <td><%= expense.image_id %></td>
        <td><%= link_to 'Show', expense %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense', new_expense_path %>
